.container {
  display: flex;
  justify-content: space-between;
  border-bottom: solid grey 2px;
}
.app-name {
  display: flex;
  justify-content: start;
}
.avatar {
  display: flex;
  justify-content: end;
  align-items: center;
}